<!-- Loop over each object in the projects array -->
{{#each contentArr as |content|}}
  <div class='row mb-4 project'>
    <div class='col-md-5'>
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <a href='/project/{{content.id}}'>{{content.name}}</a>
      </h2>
      <div class='col-md-7'>
        <p>
          {{content.description}}
        </p>
      </div>
      <p>Created by
        {{content.user.name}}
        on
        {{format_date content.date_created}}</p>
    </div>

  </div>
{{/each}}